*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

;
}

.container{
    max-width: calc(100% - 120px);
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;


    
}
.Benefits .row:nth-child(1){
    display: flex;
    flex-wrap: nowrap;
}

.Benefits p{
    width: 70%;
   
}
.Benefits a{
    background-color: rgba(252, 252, 253, 1);
    text-decoration: none;
    padding: 18px, 24px, 18px, 24px;
    color:  rgba(38, 38, 38, 1);
    
}
.Benefits img{
    width: 10%;
    height: 10%;
  
}
.Benefits .card{
    flex: 1 1 400px;
    flex-direction: column;
    justify-content: flex-end;
   border-radius: 12px;
  height: fit-content;
  justify-content: right;
}
.Benefits .card .pic{
    justify-content: flex-end;
}
